<header>
  <link rel="stylesheet" href="style.css">
  <div id="mw-page-base" class="noprint" ng-controller="mainCtrl">
    <h3 class="language">eng/ru</h3>
    <label class="switch">
    <input type="checkbox" ng-click="changeLang($event)"checked>
    <span class="slider round"></span>
    </label>
    <pop-up-dialog></pop-up-dialog>
    <button class="btn-1" ng-click="dialog()">Оставить отзыв</button>   
</header>
  <div>
    <h1 class="title">{{ 'GEN_TITLE' | translate }}</h1>
    <button class="transl" ng-click="changeLang('en')" translate="BUTTON_LANG_EN"></button>
    <button class="transl" ng-click="changeLang('ru')" translate="BUTTON_LANG_RU"></button>
  </div>
  <div>
    <li class="descript">{{ 'PHYSICS' | translate }}</a></li> 
    <li class="descript">{{ 'CHEMESTRY' | translate }}</li>
  </div>
    
  <div class='container'>  
    <h5>{{ 'SEC_TITLE' | translate}}</h5>
        
    <p> {{ 'PARAGRAPH1' | translate }} </p> 
    <p>Химия как самостоятельная дисциплина определилась в XVI—XVII веках, после ряда научных открытий, обосновавших механистическую картину мира, развития промышленности, появления буржуазного общества. Однако из-за того, что химия, в отличие от физики, не могла быть выражена количественно, существовали споры, является ли химия количественной воспроизводимой наукой или это некий иной вид познания. В 1661 году Роберт Бойль создал труд „Химик-скептик“, в котором объяснил разность свойств различных веществ тем, что они построены из разных частиц (корпускул), которые и отвечают за свойства вещества. Ван Гельмонт, изучая горение, ввёл понятие газ для вещества, которое образуется при нём, открыл углекислый газ. В 1672 году Бойль открыл, что при обжиге металлов их масса увеличивается, и объяснил это захватом „весомых частиц пламени“.</p>
    <p>М. В. Ломоносов уже в первой известной своей работе, именно к данной области естествознания отношение имеющей — „Элементы математической химии“ (1741), в отличие от большинства химиков своего времени, считавших эту сферу деятельности искусством, классифицирует её как науку, начиная свой труд словами[7]:
    <br>Химия — наука об изменениях, происходящих в смешанном теле, поскольку оно смешанное. ...Не сомневаюсь, что найдутся многие, которым это определение покажется неполным, будут сетовать на отсутствие начал разделения, соединения, очищения и других выражений, которыми наполнены почти все химические книги; но те, кто проницательнее, легко усмотрят, что упомянутые выражения, которыми весьма многие писатели по химии имеют обыкновение обременять без надобности свои исследования, могут быть охвачены одним словом: смешанное тело. В самом деле, обладающий знанием смешанного тела может объяснить все возможные изменения его, и в том числе разделение, соединение и т. д.</p>
  </div>
  
  <div class="container" ng-click='openPhy()' >
    <h5>Физика</h5>
          
    <p>Фи́зика (от др.-греч. φυσική — «природный» от φύσις — «природа») — область естествознания: наука о наиболее общих законах природы, о материи, её структуре, движении и правилах трансформации. Понятия физики и её законы лежат в основе всего естествознания[1][2]. Является точной наукой.</p>
    <p>Термин «физика» впервые фигурирует в сочинениях одного из величайших мыслителей древности — Аристотеля (IV век до нашей эры). Первоначально термины «физика» и «философия» были синонимами, так как в основе обеих дисциплин лежало стремление объяснить законы функционирования Вселенной. Однако в результате научной революции XVI века физика развилась в самостоятельную научную отрасль.</p>
    <p>В современном мире значение физики чрезвычайно велико. Всё то, чем отличается современное общество от общества прошлых веков, появилось в результате применения на практике физических открытий. Так, исследования в области электромагнетизма привели к появлению телефонов и позже мобильных телефонов, открытия в термодинамике позволили создать автомобиль, развитие электроники привело к появлению компьютеров. Развитие фотоники способно дать возможность создать принципиально новые — фотонные — компьютеры и другую фотонную технику, которые сменят существующую электронную технику. Развитие газодинамики привело к появлению самолётов и вертолётов.</p>
    <p>Знания физики процессов, происходящих в природе, постоянно расширяются и углубляются. Большинство новых открытий вскоре получают технико-экономическое применение (в частности в промышленности). Однако перед исследователями постоянно встают новые загадки, — обнаруживаются явления, для объяснения и понимания которых требуются новые физические теории. Несмотря на огромный объём накопленных знаний, современная физика ещё очень далека от того, чтобы объяснить все явления природы.</p>
    <p>Общенаучные основы физических методов разрабатываются в теории познания и методологии науки.</p>
    <p> В русский язык слово «физика» было введено М. В. Ломоносовым, издавшим первый в России учебник физики — свой перевод с немецкого языка учебника «Вольфианская экспериментальная физика» Х. Вольфа (1746)[3]. Первым оригинальным учебником физики на русском языке стал курс «Краткое начертание физики» (1810), написанный П. И. Страховым.</p>   
  </div>
  </a>